/* body全体のフォントと背景色を設定 */
body {
    font-family: Arial, sans-serif;
    background-color: #a9a9f9;
    color: #333;
}

/* h1とpタグの中央揃え用のクラス */
.center-text {
    text-align: center;
}

.highlight {
    color: red;
}

/* 画像を囲むコンテナのスタイル */
.image-container {
    border: 5px solid rgb(255, 0, 0); /* ボーダーのスタイル */
    padding: 10px; /* 画像とボーダーの間に余白 */
    display: inline-block; /* ボーダーがコンテンツのサイズに合わせる */
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向に中央揃え */
    background-color: #f0f0f0; /* 背景色 */
}

/* 画像のスタイル */
img {
    display: block; /* 画像をブロック要素として表示 */
    margin: 0 auto; /* 画像を中央揃えにする */
}

/* リンクのスタイル */
a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 画像の余白を調整 */
img {
    margin-top: 20px;
}